In [9]:
import pandas as pd


df = pd.read_csv('pokemon_data.csv')

df_xl = pd.read_excel('pokemon_data.xlsx')

df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')

In [ ]:
#print(df.columns)

df.Name
df['Name'][0:5]
df[['Name', 'Type 1', "HP"]]
df.iloc[0:4]
df.iloc[2,1]

for index, row in df.iterrows():
    print(index, row['Name'])

In [ ]:
df.loc[df['Type 1'] == "Fire"]
df.describe()

In [ ]:
df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns)

#df = df[['Total,' 'HP', 'Defense']]
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

In [42]:
df.to_csv('modified.csv', index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

In [ ]:
from re import T


df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] # AND condition
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')] # OR type
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.to_csv('filtered.csv')

new_df.reset_index(drop=True, inplace=True)

new_df

In [ ]:
df.loc[~df['Name'].str.contains('Mega')] # not containing substrings

import re

df.loc[df['Type 1'].str.contains('fire|grass', regex=True, flags=re.I)] # Regular expressions with ignoring casings

df.loc[df['Name'].str.contains('^pi[a-z]*', regex=True, flags=re.I)] # Name starting with pi with regular expressions

In [57]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True