In [2]:
import pandas as pd


def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    meds = pd.Series(
    data = counts,
    index = names,
    name = 'meds'
    )
    return meds

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    return (medications.loc[name] / medications.sum()) * 100

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [1]:
import pandas as pd


def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        'incomes': incomes,
        'expenses': expenses
        })
    df.index = years
    return df
    
def get_profit(df, year):
    try:
        profit = df.loc[year, 'incomes'] - df.loc[year, 'expenses']
        return profit
    except KeyError:
        return None

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

In [36]:
import pandas as pd


student_data = pd.read_csv('data/students_performance.csv')
display(student_data.head(5))
student_data.info()

student_data['math score'].mean()
student_data['race/ethnicity'].value_counts(normalize=True)
student_data['reading score'][student_data['test preparation course'] == 'completed'].mean()
student_data[(student_data['math score'] == 0)].shape[0]

if student_data['math score'][student_data['lunch'] == 'standard'].mean() > \
    student_data['math score'][student_data['lunch'] == 'free/reduced'].mean():
        print('standard score is bigger, it is ' + str(student_data['math score'][student_data['lunch'] == 'standard'].mean()))
else:
    print('reduced score is bigger, it is ' + str(student_data['math score'][student_data['lunch'] == 'free/reduced'].mean()))
    
round(student_data['parental level of education'].value_counts(normalize=True)*100)

print(round(student_data['writing score'][student_data['race/ethnicity'] == 'group A'].median())) 
print(round(student_data['writing score'][student_data['race/ethnicity'] == 'group C'].mean()))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
standard score is bigger, it is 70.03410852713178
62
68

In [ ]:
import pandas as pd


def delete_columns(df, col=[]):
    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """
    try:
        result = df.drop(col, axis=1)
    except KeyError:
        result = None
    except ValueError:
        result = None
    return result


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ['number','cust_year_birth'] #выбранные вами столбцы
    columns_2 = ['test','number']
    new_df = delete_columns(customer_df, columns_for_delete)
    new_df_2 = delete_columns(customer_df, columns_2)
    print(new_df)