In [4]:
import pandas as pd
pd.__version__
pd.__name__

'pandas'

In [4]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [8]:
print(countries.loc['US'])
print(countries.loc[['US', 'RU', 'UK']])
print(countries.iloc[6])
print(countries.iloc[1:4])

США
US       США
RU    Россия
UK    Англия
Name: countries, dtype: object
Казахстан
CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [11]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [10]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [15]:
countries_df.mean(axis=0)
countries_df.mean(axis=1)
countries_df.population
countries_df['population']

C:\Users\redsh\AppData\Local\Temp\ipykernel_22220\2120815237.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)
C:\Users\redsh\AppData\Local\Temp\ipykernel_22220\2120815237.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [16]:
display(countries_df.loc['UK', 'square'])
display(countries_df.loc['RU', ['population', 'square']])
display(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']])

133396

population      146.24
square        17125191
Name: RU, dtype: object

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

****Using different Filetypes****

In [5]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [100]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
#display(countries_data)

data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
#display(data)

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#melb_data.head(5)
melb_data.iloc[15]['Price']
melb_data.iloc[90]['Date']
round(melb_data.iloc[3521]['Landsize'] / melb_data.iloc[1690]['Landsize'],0)
melb_data.tail(7)
melb_data.shape
##melb_data.info()

melb_data.columns

melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
##melb_data.info()

melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
melb_data.describe(include=['object'])

melb_data['Regionname'].value_counts()
melb_data['Regionname'].value_counts(normalize=True)

melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [77]:
import numpy as np

print(abs(np.mean(melb_data['Price']) / np.median(melb_data['Price'])))

melb_data.describe().loc[:, ['Distance']]

np.mean(melb_data['BuildingArea'])
len(melb_data['Coordinates'].unique())
#melb_data.size
round(melb_data['Type'].value_counts(normalize=True)*100)

1.1912337535493698

h    70.0
u    22.0
t     8.0
Name: Type, dtype: float64

In [76]:
print(melb_data['Price'].mean())
melb_data['Car'].max()

rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))
# Total income of real estate agencies: 1752934775.88

1075684.079455081
Total income of real estate agencies: 1752934775.88

In [88]:
melb_data['Regionname'].mode()
melb_data['Propertycount'].max()
melb_data['Distance'].std()
abs((melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean()) / melb_data['BuildingArea'].mean())

melb_data['Rooms'].value_counts(normalize=True)

3     0.433063
2     0.268630
4     0.197938
1     0.050147
5     0.043888
6     0.004934
7     0.000736
8     0.000589
10    0.000074
Name: Rooms, dtype: float64

In [115]:
mask = melb_data['Price'] > 2000000
display(melb_data[mask].head())

melb_data[melb_data['Rooms'] == 3].shape[0]

display(melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)])

melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

melb_data[melb_data['Type'] == 't']['Rooms'].max()

mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()
melb_data[melb_data['Bathroom'] == 0].shape[0]

melb_data[((melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000))].shape[0]
melb_data['Price'][melb_data['BuildingArea'] == 0].min()

round(melb_data['Price'][melb_data['Price'] < 1000000][(melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)].mean())

melb_data['Regionname'][(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)].value_counts(normalize=True)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
10394,10394,Melton,14 Musk Ct,3,h,295000.0,SP,PRDNationwide,27/05/2017,31.7,...,4,600.0,122.86,1975,Melton,-37.68734,144.58001,Western Victoria,3600,"-37.68734, 144.58001"
10576,10576,Bacchus Marsh,4 Lidgett St,3,h,285000.0,S,Ryder,8/07/2017,37.5,...,2,612.0,126.00,1970,Moorabool,-37.67344,144.43181,Western Victoria,2871,"-37.67344, 144.43181"
13227,13227,Melton,118 Barries Rd,3,h,283000.0,S,FN,23/09/2017,31.7,...,0,362.0,19.00,1976,NaN,-37.68755,144.56887,Western Victoria,3600,"-37.68755, 144.56887"

Northern Metropolitan         0.296855
Southern Metropolitan         0.273319
Western Metropolitan          0.247939
Eastern Metropolitan          0.126573
South-Eastern Metropolitan    0.041974
Eastern Victoria              0.005423
Northern Victoria             0.004447
Western Victoria              0.003471
Name: Regionname, dtype: float64