In [91]:
import pandas as pd


bike_df = pd.read_csv('data/citibike-tripdata.csv')
##bike_df.info()

bike_df['start station id'].value_counts().nlargest(1)
print(bike_df['start station id'].mode()[0])

bike_df['bikeid'].value_counts().nlargest(1)
print(bike_df['bikeid'].mode()[0])

bike_df['usertype'].value_counts(normalize=True)
mode_usertype = bike_df['usertype'].mode()[0]
count_mode_user = bike_df[bike_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike_df.shape[0], 2))

bike_df['gender'].value_counts()
male_count = bike_df[bike_df['gender'] == 1].shape[0]
female_count = bike_df[bike_df['gender'] == 0].shape[0]
print(male_count)
print(female_count)
print(max([male_count, female_count]))

print(bike_df['start station id'].mode()[0])

281.0
33887
0.77
183582
41912
183582
281.0

In [92]:
bike_df['start station id'].nunique() == bike_df['end station id'].nunique()
bike_df['birth year'].max()
bike_df['start station name'].value_counts()
bike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [93]:
bike_df = bike_df.drop('start station id', axis=1)
bike_df = bike_df.drop('end station id', axis=1)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [94]:
bike_df['age'] = 2018 - bike_df['birth year']
bike_df = bike_df.drop('birth year', axis=1)

In [100]:

bike_df[bike_df['age'] > 60].shape[0]

11837

In [101]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['trip duration'] = bike_df['stoptime'] - bike_df['starttime']

In [102]:
bike_df['trip duration'][3]
bike_df['starttime']

0        2018-09-01 00:00:05.269
1        2018-09-01 00:00:11.281
2        2018-09-01 00:00:20.649
3        2018-09-01 00:00:21.746
4        2018-09-01 00:00:27.315
                   ...
299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

In [103]:
def get_weekend(weekday):
    weekend_list = [5, 6]
    if weekday in weekend_list:
        return 1
    else:
        return 0
bike_df['weekend'] = bike_df['starttime'].dt.dayofweek.apply(get_weekend)

In [105]:
bike_df['weekend'].value_counts()
bike_df['weekend'].sum()

115135

In [106]:
def get_timeofday(time):
    if time in range(0,7):
        return 'night'
    elif time in range(7,13):
        return 'morning'
    elif time in range(13,19):
        return 'day'
    elif time in range(19,24):
        return 'evening'
        
bike_df['time of day'] = bike_df['starttime'].dt.hour.apply(get_timeofday)

In [108]:
#bike_df['time of day'] = bike_df['time of day'].astype('category')
bike_df[bike_df['time of day'] == 'day'].shape[0] / bike_df[bike_df['time of day'] == 'night'].shape[0]

9.480411004308916